body {
  padding: 2rem 0 0 2rem;
  background-color: rgb(70, 0, 77);
}

#quote-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  padding: 20px;
  min-height: 500px;
  transition: background-color 0.5s ease;
  color: aliceblue;
  }

#text {
  font-size: 4rem;
  margin-bottom: 100px;
}

#author {
  font-size: 3rem;
  text-align: right;
}

#buttons {
  display: flex;
  justify-content: space-around;
  position: sticky;
  padding: 4vw;
  margin: 4vw;
}